
<div class="jumbotron jumbotron-fluid">
        <div class= "container">
        <div class="block">
          <h1 class="animated fadeInUp">{{titleIntro}}</h1>
          <p class="animated fadeInUp">{{titleDesc}}</p>
        </div>
        </div>
</div>

<div class="container">
 <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
    <ul>
        <li ng-repeat="todo in todos track by $index">
           <input type="checkbox" ng-model="todo.done"/> <span class="done-{{todo.done}}"> {{todo.text}} </span>
        </li>
    </ul>

</div>

<div class="container">

      <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
        <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
      </form>
      
      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
</div>
